.ficha
{
  background-color: #ffffff;
	padding: 10px;
	border: 1px solid #808080;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Raleway';
    width:230px;
    height:360px;

	}

.ficha:hover
{
    border: 1px solid #605f5f;
box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);

	}



.imagen {
    width:200px;
    height:150px;    
    overflow:hidden;
}
.imagen img {
    min-width:100%;
}
a:hover {
    color: #333;
    text-decoration: none;
}
a {
    color: #333;
    text-decoration: none;
}
.fichauno
{
  background-color: #FAFAFA;
	padding: 10px 40px 60px;
	border: 2px solid GRAY;
    border-radius: 10px;
    font-family: 'Open Sans';
    /*margin-top: 50px;*/
	}
.fichalogin
{
  background-color: #FAFAFA;
	padding: 10px 40px 60px;
	border: 2px solid GRAY;
    border-radius: 10px;
    font-family: 'Open Sans';
    margin-top: 150px;
	}



.imgindividual 
{
     border-radius:99999px;
}
.navbar-default {
    background-color: rgb(122, 239, 115);

}
.navbar-default .navbar-brand{
    font-size: 20px;
    color: black;
}

.navbar-default .navbar-brand:hover{
    font-size: 20px;
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: black
}

.navbar-default .navbar-nav > li > a:hover {
    color: white
}




.sti {
    margin: 0 auto;

}
.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.contenido {
    margin-left:180px;
    margin-bottom:150px;
    
}
    
#cuerpo { 

    background-color: #fafafa;

}

.navhr {
    margin-top: 0px;

}

-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



/*CSS register page*/

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body, html{
     height: 100%;

 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
}

.main{
 	margin:50px 1px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:rgb(122, 239, 115);
	    color: #333;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
